.form {
    width: 80%;
    margin: auto;
}
.form span {
    height: 100%;
}

.text {
    background-color: white;
    border-radius: 0px;
    border-right: white;
}

.form input {
    border-radius: 0px;
    height: 40px;
}

.formGroup {
    width: 100%;
    margin: 10px 0;
}

.form span .formGroup {
    width: 85%;
    margin: 0px;
}

.form span .prepend {
    width: 15%;
    height: 40px;
}

.form button {
    width: 35%;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.form button:hover {
    color: red;
}
