.form {
    width: 80%;
    margin: auto;
}
.form span {
    height: 100%;
    border-radius: 0px;
}

.text {
    background-color: white;
    border-radius: 0px;
    border-right: white;
}

.formGroup {
    width: 100%;
    margin: 10px 0;
}

.form span .formGroup {
    width: 85%;
    margin: 0px;
}

.form span .prepend {
    width: 15%;
    height: 40px;
    position: relative;
}

.form button {
    width: 35%;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.form button:hover {
    color: red;
}

.deliveryForm {
    padding: 20px;
    background-color: white;
    /*opacity: 0.75;*/
    z-index: 4;
}

.prepend img {
    height: 30px;
    margin-left: -5px;
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
}

.prependInput {
    margin: 10px 0px;
}

.prependInput input {
    border-radius: 0px;
    height: 40px;
}
