html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* bottom nav */
button.MuiBottomNavigationAction-root.Mui-selected {
    color: #c85a5f;
}

/* slick slider */
.slick-dots li button::before {
    display: none;
}

.slick-dots li.slick-active button {
    width: 25px;
    height: 5px;
    background-color: #c85a5f;
    border-radius: 15px;
}

ul.slick-dots li {
    margin: 0px 15px;
}

ul.slick-dots li{
	height:10px;
}
ul.slick-dots li button {
    width: 10px;
    height: 5px;
    background-color: black;
    opacity: 0.75;
    border-radius: 15px;
}

.slick-prev:before,
.slick-next:before {
    color: #c85a5f;
}

.slick-dots {
    bottom: -35px;
}

/* typewriter */
.Typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

span.Typewriter__cursor {
    margin-top: -10px;
}

nav.tabs_tabs__2FehT.nav-tabs a.active {
    background-color: #c85a5f;
    color: white;
}
