.animateText {
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    height: 40px;
    width: 100%;
    color: black;
}

.animated {
    justify-content: center;
}
.animated h3 {
    font-weight: bold;
    color: #c85a5f;
}

.animateText h3 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}
