.AppModal .modalHeader img {
    height: 50px;
    width: 150px;
}

.AppModal .modalHeader {
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;
    width: 100%;
}

.modalHeader button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    color: white;
    background-color: #c85a5f;
    border: none;
    height: 35px;
    font-size: 35px;
    width: 35px;
    line-height: 0px;
}

.modalHeader button span:last-child {
    display: none;
}
